<!DOCTYPE html>
<html lang="en">
<head>
    <META content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description"
          content="Часто задаваемые вопросы о ФКН"/>

    <link rel="stylesheet" href="styles/main.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

<div class="section no-pad-bot">
    <div class="container">
        <br><br>

        <div class="logo"><img src="images/logo@2x.png" alt=""></div>
        <h1 class="header s12 center text-darken-2">Faculty of Computer Science FAQ</h1>

        <div class="row center">
            <h5 class="header col s12 l10 offset-l1 light">Популярные вопросы и ответы на них, поступающим на факультет
                компьютерных наук в ВШЭ</h5>
        </div>
        <div class="row center search-form">
            <nav class="col s12 l6 offset-l3">
                <div class="nav-wrapper">
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label for="search"><i class="material-icons">search</i></label>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="tags col s12 l10 offset-l1">
                <ul>
                    <li class="filter" data-filter="all">Показать все</li>
                    {{#each cat}}
                        <li class="filter" data-filter=".{{ cls }}">{{ name }}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="background"></div>
</div>
<main class="container">
    <div class="row">
        <ul class="collapsible popout" id="ul-s" data-collapsible="accordion">
        </ul>
        <ul class="collapsible popout" id="ul" data-collapsible="accordion">
            {{#each cat}}
                <h4 class="mix {{ cls }} light center">{{ name }}</h4>
                    {{#each data}}
                        <li class="mix {{ cls }}" data-id="{{ id }}">
                            <div class="collapsible-header">{{ q }}</div>
                            <div class="collapsible-body"><p>{{{ a }}}</p></div>
                        </li>
                    {{/each}}
            {{/each}}
        </ul>
    </div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">FAQ ФКН</h5>

                <p class="grey-text text-lighten-4">От ФКН для будущих студентов.</p>
            </div>
            <div class="col l4 offset-l1 s12">
                <h5 class="white-text">А вот еще</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://vk.com/ba_hse">Поступающим на бакалавриат</a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="https://vk.com/ma_hse">Поступающим на магистратуру</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="github left col s12 m6 l6">View on <a href="https://github.com/AbstractMindStudio/fcs-faq"><img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABU0lEQVQ4T52TjVECQQxGvQrUCsQKxAo8KlArECoQK1ArUDo4KhArECoQKxAq8KzgfI/JOsvx44w7k7nNl+RLLskWB1tO0zR94AukE+YF32lRFOO2e5EDEfgEdrSNGKxG7iCqkv2XgGDBmx2BbbiCZCC4IiB4yMfMS0tFrpDDVtQ3ukm0nSADKykIttyvcB4BDgPrcpfMBCWfOXrN/Zn7bfgfS/CAch/AK05m2Hnwn2C8DIdHCcxixz3nEMz/IOhifw+fmQR2dvW/BK9NZRcRMU3YagmS8h+CAwkWsNlVzylFqO/rQf4LSwnypkwguN5TuhN7QcrwGUug8oaMwmA/KmScqsGng+6S9RHv6fTSIk1BzpAeYkVmcg8WegbBZ6uyGfYyERjg+ByPG+Zk1k7ebAxurAnq/C1IkirZmEhG8IFfmZJszD1eZN/y8hJi4XxEVY7/AMbVmPc7LebyAAAAAElFTkSuQmCC"/>GitHub</a>
            </div>
            <div class="ams right col s12 m6 l6"><span class="bottle"></span>Сделано с <span class="heartbeat"></span> в
                <a href="http://abstractmind.ru/">Abstract Mind Studio</a></div>
        </div>
    </div>
</footer>
<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter36679930 = new Ya.Metrika({ id:36679930, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/36679930" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<script src="scripts/jquery.min.js"></script>
<script src="scripts/mixitup.min.js"></script>
<script src="scripts/materialize.js"></script>
<script src="scripts/fuse.min.js"></script>
<script>
    $(document).ready(function (e) {
        $(".button-collapse").sideNav();
        $('.collapsible').collapsible({
            accordion: true,
        });
        $('.collapsible').mixItUp({
            layout: {
                display: 'block'
            },
            animation: {
                duration: 450,
                effects: 'fade translateZ(-360px) stagger(34ms) scale(1.00)',
                easing: 'cubic-bezier(0.47, 0, 0.745, 0.715)'
            }
        });


        var data = {{{ data }}};

        console.log(data);
        var options = {
          keys: ['t'],
          id: 'id'
        }
        var f = new Fuse(data, options);
        var result;

        $('#search').keyup(function() {
            result = f.search($(this).val());

            if(result.length != 0) {
                $('#ul').css('display', 'none');
            }

            if($(this).val() == '') {
                $('#ul-s').html('');
                $('#ul').css('display', 'block');
            }

            $('#ul-s').html('');

            for (var i = 0; i < result.length; i++) {
                $('[data-id=' + result[i] + ']').clone().css('display', 'block').appendTo("#ul-s");
            }
            $('.collapsible').collapsible({
                accordion: true,
            });
        })

        $('.filter').click(function() {
            $('#ul-s').html('');
            $('#ul').css('display', 'block');
        });
    });
</script>
</body>
</html>